{# empty Twig template #}
{% extends 'SonicBundle::base.html.twig' %}
{% block body %}
    <form action="" method="post" >
        <div class="row">
            <div class="container text-center">
                <div class="row m-xs-b-1 m-md-tb-2">
                    <h1>
                        <span class="first-txt-row txt-fx-fall-ltr">Elige que género quieres</span><br>
                        <strong><span class="txt-fx-fall-ltr">CANTAR</span></strong>
                    </h1>
                </div>
                <div class="row">
                    {#<div class="col-xs-6 col-xs-offset-3 col-md-8 col-md-offset-0">
                        <div class="circle-wrap-genero">
                            <div class="circle-content-genero">
                                <input class="hidden" name="genero" type="radio" value="pop" />
                                {% image '@SonicBundle/Resources/public/images/genero1.png' %}
                                <img src="{{ asset_url }}" alt="" class="responsive-image" />
                                {% endimage %}
                            </div>
                        </div>
                        <h2>POP</h2>
                    </div>#}
                    <div class="col-xs-6 col-md-8 col-xs-offset-6 col-md-offset-4">
                        <div class="circle-wrap-genero">
                            <div class="circle-content-genero">
                                <input class="hidden" name="genero" type="radio" value="rock" />
                                {% image '@SonicBundle/Resources/public/images/genero2.png' %}
                                <img src="{{ asset_url }}" alt="" class="responsive-image" />
                                {% endimage %}
                            </div>
                        </div>
                        <h2>ROCK</h2>
                    </div>
                    <div class="col-xs-6 col-md-8">
                        <div class="circle-wrap-genero">
                            <div class="circle-content-genero">
                                <input class="hidden" name="genero" type="radio" value="cumbia" />
                                {% image '@SonicBundle/Resources/public/images/genero3.png' %}
                                <img src="{{ asset_url }}" alt="" class="responsive-image" />
                                {% endimage %}
                            </div>
                        </div>
                        <h2>CUMBIA</h2>
                    </div>
                </div>
                <div class="row m-xs-t-2 m-md-t-4 hidden" >
                    <div class="btn-wrap">
                        <a class="a-submit btn btn-circle btn-circle-md ico-micro" href="#"></a>
                        <p class="m-md-t-1">
                            <a class="a-submit" href="#">A cantar</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <div class="device-position-wrap {{ is_mobile() ? 'is-mobile' }} hidden">
        <div class="col-xs-12 col-xs-offset-6 text-center">
            <div class="image-wrap">
                {% image '@SonicBundle/Resources/public/images/manos.png' %}
                <img src="{{ asset_url }}" alt="" class="responsive-image" />
                {% endimage %}
            </div>
            <h1 style="font-style: italic;">Sujeta de esta forma tu celular el show esta a punto de comenzar</h1>
        </div>
    </div>
{% endblock %}