{% extends 'SonicBundle::base.html.twig' %}
{% block body %}
    <div class='row m-md-t-3'>
        <div class="container">
            <div class='row'>
                <div class='col-xs-21 col-xs-offset-2'>
                    <div class='row'>
                        <div class='col-xs-12'>
                            <div class="full-circle-wrap">
                                <div class="full-circle-content p-absolute p-y-middle p-x-middle">
                                    <div  class='image-wrap circle-image-wrap' style='background-image: url({{ asset('bundles/sonic/images/fondo3.jpg') }})'>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class='info-wrap p-absolute p-y-middle col-xs-push-12'>
                            <h1><strong>{{challenge.score.usuario ? challenge.score.usuario.name : 'N/A'}}</strong></h1>
                            <h2>cree que no sabes cantar.</h2>
                            <hr>
                            <h3>Demuéstrale tu talento y supéralo</h3>
                            <h1 class='fs-italic m-md-t-4'>{{challenge.score.score|number_format}} <span class='circles r-circles'></span> <small><strong><strong>{{position}}° lugar</strong></strong></small></h1>
                        </div>
                    </div>
                    <div class='row text-center'>
                        <div class="btn-wrap">
                            <a href="{{path('challenge_request',{'token':challenge.token})}}" class="btn btn-circle btn-circle-md ico-next"></a>
                            <p>Siguiente</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}