{% extends 'SonicBundle::base.html.twig' %}
{% block body %}
    <div class="row">
        <div class="container text-center">
            <div class="row">
                <div class="col-xs-24 clear-fix">
                    <div class="m-md-t-2">
                        {%if position < 4 %}
                            <h1>
                                <strong>
                                    <span class='txt-fx-fall-ltr'>¡QUÉ SHOW</span><br>
                                    <span class='txt-fx-fall-ltr'>ACABAS DE DAR!</span>
                                </strong>
                            </h1>
                        {% else %}
                            <h1>
                                <strong>
                                    <span class='txt-fx-fall-ltr'>El resultado no lo es todo pero...</span> <br>
                                    <span class='txt-fx-fall-ltr'>¿crees que lo puedes hacer mejor?</span>
                                </strong>
                            </h1>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class='col-md-20 col-md-offset-2'>
                    <div class="circle-wrap">
                        <div class="circle-content">
                            <div class="image-wrap">
                                {% image '@SonicBundle/Resources/public/images/circle.png' %}
                                <img src="{{ asset_url }}" alt="" class="responsive-image" />
                                {% endimage %}
                            </div>
                            <div class="info-wrap p-absolute p-y-middle p-x-middle">
                                <i class="icon ico-micro-trim"></i>
                                <h2><strong>Lograste</strong></h2>
                                <h1>{{score.score|number_format(0, '.', ',') }}</h1>
                                <h2><strong>{{position}}º lugar</strong></h2>
                            </div>
                            <div class="btn-group p-absolute p-y-middle col-xs-push-21">
                                <div class="btn-wrap">
                                    <a class="btn btn-circle btn-circle-sm ico-plus" href="{{ path('game') }}"> </a>
                                    <p>Otros géneros</p>
                                </div>
                            </div>
                        </div>
                        {% include 'SonicBundle:Buttons:circles.html.twig' %}
                    </div>
                </div>
            </div>
            {% include 'SonicBundle:Buttons:pills.html.twig' %}
        </div>
    </div>
{% endblock %}

{% block loader %}
    <div class="overlay-wrap overlay-loader-wrap hidden">
        <div class="spinner">
            <div class="rect1"></div>
            <div class="rect2"></div>
            <div class="rect3"></div>
            <div class="rect4"></div>
            <div class="rect5"></div>
        </div>
    </div>
    <div class="overlay-wrap overlay-main-wrap text-center hidden">
        <div class="main-wrap {{ not is_mobile() ?'p-absolute p-y-middle p-x-middle' }}">
            <div class="main-content">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-24">
                            <h1>
                                <span class="first-txt-row">¿Buscas competencia? Reta a otro intérprete</span><br>
                                <span><strong>y descubre quién es mejor.</strong></span>
                            </h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-20 col-xs-offset-2 col-md-10 col-md-offset-7 friend-list-wrap">

                        </div>
                        <a class="hidden friend-selector" onclick="postToFriend();" href="#">
                            {% image '@SonicBundle/Resources/public/images/btnPublicarFB_on.png' %}
                            <img src="{{ asset_url }}" alt="" />
                            {% endimage %}
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class='btn-wrap btn-fixed'>
            <a class="btn btn-circle btn-circle-sm ico-back btn-hide-wrap" data-target="overlay-main-wrap"></a>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{parent()}}
    <script type="text/javascript">
        {% if score and score.usuario %}
            var image_url_post = "/server/posting/index.php?score={{score.score}}&username={{score.usuario.name}}";
        {% endif %}
    </script>
{% endblock %}
