<div class="overlay-wrap text-center hidden">
    <div class="main-wrap p-absolute p-y-middle p-x-middle">
        <div class="main-content">
            <div class="container">
                <div class="row">
                    <div class="col-xs-24 text-center">
                        <div class="m-md-t-2">
                            <h1>
                                El show<br>
                                <strong>DEBE CONTINUAR</strong>
                            </h1>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="circle-wrap">
                        <div class="circle-content">
                            <div class="image-wrap">
                                {% image '@SonicBundle/Resources/public/images/circle.png' %}
                                <img src="{{ asset_url }}" alt="" class="responsive-image" />
                                {% endimage %}
                            </div>
                            <div class="btn-group p-absolute p-y-middle p-x-middle">
                                <div class="btn-wrap">
                                    <a class="btn btn-circle btn-circle-lg ico-restart" href="#" onclick="continuar();"> </a>
                                    <p>Continua cantando</p>
                                </div>
                            </div>
                        </div>
                        <div class="btn-group flex-wrap full-width flex-three-columns">
                            <div class="btn-wrap m-xs-t-n-2 m-md-t-0">
                                <a class="btn btn-circle btn-circle-md ico-home" href="{{ path('homepage') }}"> </a>
                                <p>Inicio</p>
                            </div>
                            <div class="btn-wrap m-md-t-5">
                                <a class="do-share btn btn-circle btn-circle-md ico-share">  </a>
                                <p>Comparte <br> la diversión</p>
                            </div>
                            <div class="btn-wrap m-xs-t-n-2 m-md-t-0 group-disabled">

                                    <a class="btn btn-circle btn-circle-md ico-challenge"></a>
                                    <p>
                                        Reta a un amigo<br> a superar tu talento
                                    </p>
                                    {% if score is defined %}
                                        <input type="hidden" value="{{score.id}}" name="score" />
                                        <input type="hidden" value="{{score.genero}}" name="genero" />
                                    {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
