{% extends 'SonicBundle::base.html.twig' %}
{% block body %}
    <div class="row text-center">
        <div class="container">
            <div class="row">
                <div class="col-xs-24 text-center">
                    <div class="m-md-t-2">
                        <h1>
                            <span class='first-txt-row txt-fx-fall-ltr'>Retaste a tomar el micrófono a</span><br>
                            <strong><span class='txt-fx-fall-ltr'>{{friend_data.0}}</span></strong>
                        </h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="circle-wrap">
                    <div class="circle-content">
                        <div class="image-wrap circle-image-wrap">
                            <img src="{{friend_data.1}}" alt="" class="responsive-image" />
                        </div>
                    </div>
                    <div class="btn-group full-width">
                        <div class="btn-wrap m-xs-r-1">
                            <a class="btn btn-circle btn-circle-md ico-home" href="{{ path('homepage') }}"> </a>
                            <p>Inicio</p>
                        </div>
                        <div class="btn-wrap m-xs-l-1">
                            <a href="{{path('game')}}" class="btn btn-circle btn-circle-md ico-restart">  </a>
                            <p>Cantar <br>otra vez</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
