{% set video_name = genero == "cumbia2" ? "cumbia":genero  %}
<html lang="en">
    <head>
        <title>Este es el sitio donde la diversión se canta</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="mobile-web-app-capable" content="yes">
        <link rel="stylesheet" type="text/css" href="/bundles/sonic/css/valiant360.css" />
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700,800" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">
        <link rel="stylesheet" href="/bundles/sonic/css/styles.css">
        <link rel="stylesheet" href="/bundles/sonic/css/game.css">
        <script type="text/javascript">var genero = "{{genero}}";
            var url_to_score = "{{path('save_score',{'genero':video_name})}}";</script>
        <script src="/bundles/sonic/js/iphone-inline-video.browser.js"></script>
        <script src="/bundles/sonic/src/recorder.js"></script>
        <script src="/bundles/sonic/js/jquery.js"></script>
        <script src="/bundles/sonic/src/Fr.voice.js"></script>
        <script src="/bundles/sonic/js/jquery.js"></script>
        <script src="/bundles/sonic/js/app.js"></script>
        <script src="/bundles/sonic/js/animations/jquery.html5Loader.circular.js"></script>
        <script src="/bundles/sonic/js/jquery.html5Loader.js"></script>
        <script src="/bundles/sonic/js/game.js"></script>
        {% if isMobile %}
            <link href="/bundles/sonic/css/videojs-panorama.css" rel="stylesheet">
            <link href="/bundles/sonic/css/video-js.css" rel="stylesheet">
            <style>
                #chevrolet-feliz{
                    position: absolute;
                    width: 100.1%;
                    height: 100.1%;
                    top: 0;
                    left: 0;
                    z-index:2;
                }
                #chevrolet-triste{
                    position: absolute;
                    width: 100.1%;
                    height: 100.1%;
                    top: 0;
                    left: 0;
                    z-index:1;
                }
            </style>
        {% endif %}

        <script>
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r;
                i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
                a = s.createElement(o),
                        m = s.getElementsByTagName(o)[0];
                a.async = 1;
                a.src = g;
                m.parentNode.insertBefore(a, m)
            })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

            ga('create', 'UA-85775400-1', 'auto');
            ga('send', 'pageview');

        </script>
    </head>
    <body>
        {% if app.user %}
            <script type="text/javascript">
                var user_id = "{{app.user.facebookId}}";
                var access_token = "{{app.user.facebookAccessToken}}";
            </script>
        {% endif %}
        <div id="fb-root"></div>

        <div id="html5Loader" style="height:100%; z-index:1000"></div>
        <div id="wrapper" style="height:100%; z-index:1000">
        </div>
        {%if isMobile%}
            <video crossOrigin="Anonymous" id="chevrolet-feliz" class="video-js vjs-default-skin" crossorigin="anonymous" >
                <source src="https://s3-us-west-2.amazonaws.com/mediosalterados/chevrolet/{{video_name}}/{{video_name}}_feliz_mobile.mp4" type='video/mp4'>
            </video>
            <video crossOrigin="Anonymous" id="chevrolet-triste" class="video-js vjs-default-skin" crossorigin="anonymous" >
                <source src="https://s3-us-west-2.amazonaws.com/mediosalterados/chevrolet/{{video_name}}/{{video_name}}_triste_mobile.mp4" type='video/mp4'>
            </video>
        {% else %}
            <div id="chevrolet-feliz" class="grabbable" data-video-src="https://s3-us-west-2.amazonaws.com/mediosalterados/chevrolet/{{video_name}}/{{video_name}}_feliz.mp4" data-video2-src="https://s3-us-west-2.amazonaws.com/mediosalterados/chevrolet/{{video_name}}/{{video_name}}_triste.mp4" style="width:100%; height:100%; position:absolute; z-index:2;"></div>
            <!--<div id="chevrolet-triste" class="grabbable" data-video-src="{{asset('bundles/sonic/videos/'~video_name~'/'~video_name~'_triste.mp4')}}" style="width:100%; height:100%; position:absolute; z-index:1;"></div>-->
        {%endif %}

        <div id="header"></div>
        <a href="{{path('homepage',{'force':true})}}"><img id="logo" src="/bundles/sonic/img/logoChevrolet.png"  alt='' /></a>
        <p id="conoce"><a class="btn btn-pill" href="http://www.chevrolet.com.mx/sonic.html" target="_blank">Conoce más del Nuevo Chevrolet Sonic<sup>&reg;</sup></a></p>

        <div id="container_score" class="disabled" >
            <p id="txtscore" class="text_color">Score</p>
            <p id="pichAudio" hidden>Score</p>
            <p id="value_score" class="text_color">000,000</p>
            <img id="detalle_score" src="/bundles/sonic/img/detalleScore.png" alt='' />
            <p class="text_color" style="display:none">Time</p>
            <p id="currentAudioTime" style="display:none" class="text_color">0</p>
        </div>
		
		
		<div id="bar_score" class="disabled">
            
			<div class="lines">
				<img id="bar_triangulo" src="/bundles/sonic/img/bar_triangulo.png" />
				<div id="line_bar_color"></div>
				<div id="line_bar"></div>
			</div>
			<img id="bar_iconBueno" src="/bundles/sonic/img/iconBueno.png" class="disabled" />
			<img id="bar_iconMalo" src="/bundles/sonic/img/iconMalo.png" class="disabled" />
        </div>
		
        <div id="container_sub">
        </div>

        <canvas id="level" style="width: 100%; height: 50px; position: absolute; z-index: 50; left: 0px; bottom: 0px;"></canvas>

        <div id="sub_current"></div>
        <img id="move_right" src="/bundles/sonic/img/move_right.png" alt='' />
        <img id="move_left" src="/bundles/sonic/img/move_left.png" alt='' />
        <img id="icon360" class="disabled" src="/bundles/sonic/img/icon360.png" alt='' />

        <img id="ondas" src="/bundles/sonic/img/ondasAmarillas.png" alt='' />
        <img id="indicador" src="/bundles/sonic/img/indicador.png" alt='' />

        <div id="record" class="evento">
            <img src="/bundles/sonic/img/iconMic.png" style="width: 43px;" alt='' />
            {% if isMobile %}
                <p style="font-size:19px;">Desliza Hacia Arriba  </p>
                <p>Para Activar el</p>
                <p>Microfono</p>
            {% else %}
                <p style="font-size:20px;">Inspírate cantando y acumula puntos</p>
                <p>activa tu micrófono</p>
            {% endif %}
        </div>
        <div id="play_btn" class="evento disabled">
            <img src="/bundles/sonic/img/btnPlayOn.png" onclick="play();" alt='' />
            <p>¿Estás listo para cantar?</p>
        </div>
        <div id="fade" class="disabled"></div>
        <div id="continuar" class="pausado disabled">
            <img src="/bundles/sonic/img/btnPlayOn.png" onclick="continuar();" />
        </div>

        <div id="pause" class="pausado disabled">
            <img src="/bundles/sonic/img/btnPausaOff.png" onclick="pause();" />
        </div>

        <div id="wow" class="status disabled">
            <img src="/bundles/sonic/img/wow1.png" style="width:350px;"  />
        </div>

        <div id="buu" class="status disabled">
            <img src="/bundles/sonic/img/buu1.png" style="width:350px;" />
        </div>
        
        <div id="nomicro" class="status disabled evento">
            <img src="/bundles/sonic/img/nomicro.png" style="margin-top: 70px; margin-left: 10px;" />
        </div>

        <div id="compartir" class="evento disabled">
            <img src="/bundles/sonic/img/iconMano.png" onclick="share();" alt='' />
            <p style="font-size:20px;">¡Genial!</p>
            <p>Cantaste muy bien</p>
            <img src="/bundles/sonic/img/compartirFacebook2.png" style="width:140px; margin-top:5px;" alt='' />
        </div>

        {% include 'SonicBundle:Control:pausa.html.twig' %}

        {% if isMobile %}
            <script src="/bundles/sonic/js/video.js"></script>
            <script src="/bundles/sonic/js/three_mobile.js"></script>
            <script src="/bundles/sonic/js/videojs-panorama.v5.js"></script>
        {% else %}
            <script type="text/javascript" src="/bundles/sonic/js/three.js"></script>
            <script type="text/javascript" src="/bundles/sonic/js/jquery.valiant360.js"></script>
        {% endif %}

        <script type="text/javascript" src="/bundles/sonic/js/functions.js"></script>
        <script type="text/javascript">
				var initialLon = 0;
				var initialLat = 0;
					
				if (window.DeviceOrientationEvent) {
					window.addEventListener('deviceorientation', function(e) {
					
					//$('#frame').text((e.absolute ? 'Earth' : 'arbitrary') + ' coordinates frame');

					/*update('x', e.beta);
					update('y', e.gamma);
					update('z', e.alpha ? 360 - e.alpha : null);*/
					initialLat = -e.alpha;
				  });
				}
		
                var loaderAnimation = $("#html5Loader").LoaderAnimation({
                    onComplete: function () {
                        console.log("preloader animation completed!");
                    }
                });

                var browser = navigator.userAgent.toLowerCase();

                function isMobile() {
                    var check = false;
                    (function (a) {
                        if (/(android|bb\d+|meego).+mobile|avantgo|bada\/|blackberry|blazer|compal|elaine|fennec|hiptop|iemobile|ip(hone|od)|iris|kindle|lge |maemo|midp|mmp|mobile.+firefox|netfront|opera m(ob|in)i|palm( os)?|phone|p(ixi|re)\/|plucker|pocket|psp|series(4|6)0|symbian|treo|up\.(browser|link)|vodafone|wap|windows ce|xda|xiino|android|ipad|playbook|silk/i.test(a) || /1207|6310|6590|3gso|4thp|50[1-6]i|770s|802s|a wa|abac|ac(er|oo|s\-)|ai(ko|rn)|al(av|ca|co)|amoi|an(ex|ny|yw)|aptu|ar(ch|go)|as(te|us)|attw|au(di|\-m|r |s )|avan|be(ck|ll|nq)|bi(lb|rd)|bl(ac|az)|br(e|v)w|bumb|bw\-(n|u)|c55\/|capi|ccwa|cdm\-|cell|chtm|cldc|cmd\-|co(mp|nd)|craw|da(it|ll|ng)|dbte|dc\-s|devi|dica|dmob|do(c|p)o|ds(12|\-d)|el(49|ai)|em(l2|ul)|er(ic|k0)|esl8|ez([4-7]0|os|wa|ze)|fetc|fly(\-|_)|g1 u|g560|gene|gf\-5|g\-mo|go(\.w|od)|gr(ad|un)|haie|hcit|hd\-(m|p|t)|hei\-|hi(pt|ta)|hp( i|ip)|hs\-c|ht(c(\-| |_|a|g|p|s|t)|tp)|hu(aw|tc)|i\-(20|go|ma)|i230|iac( |\-|\/)|ibro|idea|ig01|ikom|im1k|inno|ipaq|iris|ja(t|v)a|jbro|jemu|jigs|kddi|keji|kgt( |\/)|klon|kpt |kwc\-|kyo(c|k)|le(no|xi)|lg( g|\/(k|l|u)|50|54|\-[a-w])|libw|lynx|m1\-w|m3ga|m50\/|ma(te|ui|xo)|mc(01|21|ca)|m\-cr|me(rc|ri)|mi(o8|oa|ts)|mmef|mo(01|02|bi|de|do|t(\-| |o|v)|zz)|mt(50|p1|v )|mwbp|mywa|n10[0-2]|n20[2-3]|n30(0|2)|n50(0|2|5)|n7(0(0|1)|10)|ne((c|m)\-|on|tf|wf|wg|wt)|nok(6|i)|nzph|o2im|op(ti|wv)|oran|owg1|p800|pan(a|d|t)|pdxg|pg(13|\-([1-8]|c))|phil|pire|pl(ay|uc)|pn\-2|po(ck|rt|se)|prox|psio|pt\-g|qa\-a|qc(07|12|21|32|60|\-[2-7]|i\-)|qtek|r380|r600|raks|rim9|ro(ve|zo)|s55\/|sa(ge|ma|mm|ms|ny|va)|sc(01|h\-|oo|p\-)|sdk\/|se(c(\-|0|1)|47|mc|nd|ri)|sgh\-|shar|sie(\-|m)|sk\-0|sl(45|id)|sm(al|ar|b3|it|t5)|so(ft|ny)|sp(01|h\-|v\-|v )|sy(01|mb)|t2(18|50)|t6(00|10|18)|ta(gt|lk)|tcl\-|tdg\-|tel(i|m)|tim\-|t\-mo|to(pl|sh)|ts(70|m\-|m3|m5)|tx\-9|up(\.b|g1|si)|utst|v400|v750|veri|vi(rg|te)|vk(40|5[0-3]|\-v)|vm40|voda|vulc|vx(52|53|60|61|70|80|81|83|85|98)|w3c(\-| )|webc|whit|wi(g |nc|nw)|wmlb|wonu|x700|yas\-|your|zeto|zte\-/i.test(a.substr(0, 4))) {
                            check = true;
                        }
                    })(navigator.userAgent || navigator.vendor || window.opera);
                    return check;
                }

                if (isMobile()) {
                    var player_feliz = null;
                    var player_triste = null;
                    var path = "/bundles/sonic/js/json/" + genero + "/files_mobile.json";

                    (function (window, videojs) {
                        var player_feliz = window.player_feliz = videojs('chevrolet-feliz', {}, function () {
                            window.addEventListener("resize", function () {
                                var canvas = player_feliz.getChild('Canvas');
                                if (canvas) {
                                    canvas.handleResize();
                                    // Adjust zoom
                                    if (window.innerHeight > window.innerWidth)
                                        canvas.adjustFovForPortrait();
                                    else
                                        canvas.adjustFovForLandscape();
                                }
                            });
                        });
                        var videoElement = document.getElementById("chevrolet-feliz");
                        var width = videoElement.offsetWidth;
                        var height = videoElement.offsetHeight;
                        player_feliz.width(width), player_feliz.height(height);
                        player_feliz.panorama({
                            clickToToggle: (!isMobile()),
                            autoMobileOrientation: true,
                            initFov: 100,
                            VREnable: isMobile(),
                            NoticeMessage: (isMobile()) ? "Video 360° desplaza con el dedo" : "please use your mouse drag and drop the video",
                            callback: function () {
                                if (!isMobile())
                                    player_feliz.play();
                            }
                        });

                        player_feliz.on("VRModeOn", function () {
                            player_feliz.controlBar.fullscreenToggle.trigger("tap");
                        });
                    }(window, window.videojs));

                    (function (window, videojs) {
                        var player_triste = window.player_triste = videojs('chevrolet-triste', {}, function () {
                            window.addEventListener("resize", function () {
                                var canvas = player_triste.getChild('Canvas');
                                if (canvas) {
                                    canvas.handleResize();
                                    // Adjust zoom
                                    if (window.innerHeight > window.innerWidth)
                                        canvas.adjustFovForPortrait();
                                    else
                                        canvas.adjustFovForLandscape();
                                }
                            });
                        });
                        var videoElement = document.getElementById("chevrolet-triste");
                        var width = videoElement.offsetWidth;
                        var height = videoElement.offsetHeight;
                        player_triste.width(width), player_triste.height(height);
                        player_triste.panorama({
                            clickToToggle: (!isMobile()),
                            autoMobileOrientation: true,
                            initFov: 100,
                            VREnable: isMobile(),
                            NoticeMessage: (isMobile()) ? "Video 360° desplaza con el dedo" : "please use your mouse drag and drop the video",
                            callback: function () {
                                if (!isMobile())
                                    player_triste.play();
                            }
                        });

                        player_triste.on("VRModeOn", function () {
                            player_triste.controlBar.fullscreenToggle.trigger("tap");
                        });
                    }(window, window.videojs));

                    $.html5Loader({
                        filesToLoad: path,
                        forceMediaPreload: true,
                        mediaBufferSizeToPreload: 0.9,
                        onComplete: function () {
                            console.log("All the assets are loaded! = " + browser + "");
                            $('#wrapper').hide(1000);
                            $('.vjs-big-play-button').hide();
                        },
                        onUpdate: loaderAnimation.update
                    });
                } else {
                    $('#chevrolet-triste').Valiant360();
                    $('#chevrolet-feliz').Valiant360();
                    path = "/bundles/sonic/js/json/" + genero + "/files_desktop.json";

                    $.html5Loader({
                        filesToLoad: path,
                        forceMediaPreload: true,
                        mediaBufferSizeToPreload: 0.9,
                        onComplete: function () {
                            console.log("All the assets are loaded! = " + browser + "");
                            $('#wrapper').hide(1000);
                            $('.vjs-big-play-button').hide();
                        },
                        onUpdate: loaderAnimation.update
                    });
                }

            {% if isMobile %}
                // Declare soundtrack as SoundJS object
                soundtrack = createjs.Sound.play("main", {loop: -1});

                $(window).focus(function () {
                    // Unpause when window gains focus
                    soundtrack.paused = false;
                }).blur(function () {
                    // Pause when window loses focus
                    soundtrack.paused = true;
                });
				
				// pass variables.
            {% endif %}
        </script>
        {% if challange is defined  and challange and challange.score and challange.score.usuario %}
            <div class='challenger-wrap text-center'>
                <div class='cv-wrap'>
                    <div class='image-wrap circle-image-wrap'>
                        <img src='{{challange.score.usuario.image}}' alt='{{challange.score.usuario.name}}' class='responsive-image' />
                    </div>
                </div>
                <p><strong>{{challange.score.usuario.name}}</strong></p>
                <h2>{{challange.score.score}}</h2>
            </div>
        {% endif %}
    </body>
</html>