@font-face {
    font-family: 'Louis-Bold';
    src: url('LouisBold.eot');
}

@font-face {
    font-family: 'Louis-Bold';
    src: url('LouisBold.woff') format('woff'),
        url('LouisBold.svg#Louis-Bold') format('svg');
}

@font-face {
    font-family: 'Louis-BoldItalic';
    src: url('LouisBoldItalic.eot');
}

@font-face {
    font-family: 'Louis-BoldItalic';
    src: url('LouisBoldItalic.woff') format('woff'),
        url('LouisBoldItalic.svg#Louis-BoldItalic') format('svg');
}

@font-face {
    font-family: 'Louis-CondensedDemi';
    src: url('LouisCondensedDemi.eot');
}

@font-face {
    font-family: 'Louis-CondensedDemi';
    src: url('LouisCondensedDemi.woff') format('woff'),
        url('LouisCondensedDemi.svg#Louis-CondensedDemi') format('svg');
}

@font-face {
    font-family: 'Louis-CondensedRegular';
    src: url('LouisCondensedRegular.eot');
}

@font-face {
    font-family: 'Louis-CondensedRegular';
    src: url('LouisCondensedRegular.woff') format('woff'),
        url('LouisCondensedRegular.svg#Louis-CondensedRegular') format('svg');
}

@font-face {
    font-family: 'Louis-Italic';
    src: url('LouisItalic.eot');
}

@font-face {
    font-family: 'Louis-Italic';
    src: url('LouisItalic.woff') format('woff'),
        url('LouisItalic.svg#Louis-Italic') format('svg');
}

@font-face {
    font-family: 'Louis-Regular';
    src: url('LouisRegular.eot');
}

@font-face {
    font-family: 'Louis-Regular';
    src: url('LouisRegular.woff') format('woff'),
        url('LouisRegular.svg#Louis-Regular') format('svg');
}