<div class="header-wrap row">
    <div class='header-content'>
        <div class="col-xs-12">
            <a class="logo" href="{{ path('homepage',{'force':true}) }}">
            </a>
        </div>
        <div class="col-xs-12 text-right">
            <a class="btn btn-pill" href="http://www.chevrolet.com.mx/sonic.html" target='_blank'>Conoce más del Nuevo Chevrolet Sonic<sup>®</sup></a>
        </div>
    </div>
</div>