{% extends 'SonicBundle::base.html.twig' %}
{% block metas %}
    <meta property="og:title" content="Es momento de cantar con todo el sentimiento. Saca la diversión que llevas dentro" />
{% endblock %}
{% block background %}
    {% image '@SonicBundle/Resources/public/images/home/bg.jpg' %}
    <div class='bg-wrap' style='background-image: url({{ asset_url }});'></div>
    {% endimage %}
{% endblock %}
{% block body %}
    <div class="row">
        <div class='container'>
            <div class='row'>
                <div class="col-xs-6 col-xs-offset-4 col-md-7 col-md-offset-3">
                    <div class='row'>
                        {% image '@SonicBundle/Resources/public/images/template/logo-karaoke.png' %}
                        <img src="{{ asset_url }}" alt="" class='responsive-image' />
                        {% endimage %}
                    </div>
                </div>
                <div class="col-xs-7 col-xs-push-7 col-sm-push-8">
                    <div class="row"> 
                        <h1 class="fs-bold-italic">
                            <span class="first-txt-row txt-fx-fall-rtl">NUEVO</span><br>
                            <span class="txt-fx-fall-rtl">CHEVROLET</span><br>
                            <span class="m-xs-l-5 txt-fx-fall-rtl">SONIC<sup>®</sup> 2017</span>
                        </h1>
                    </div>
                </div>
            </div>
            <div class='row m-xs-t-2 m-md-t-5'>
                <div class="col-xs-6 col-xs-offset-3 text-center">
                    <div class="row">
                        <div class='btn-wrap m-xs-r-1'>
                            <a href="{{path('game')}}" class="btn btn-circle btn-circle-lg ico-play"></a>
                            <p>¡Juega ya!</p>
                        </div>
                        <div class='btn-wrap m-xs-l-1'>
                            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                <a href="{{path('game')}}" class="btn btn-circle btn-circle-sm ico-fb"></a>
                            {%else %}
                                <a href="{{ path('hwi_oauth_service_redirect', {'service': 'facebook' }) }}" class="btn btn-circle btn-circle-sm ico-fb"></a>
                            {% endif %}
                            <p>Mejora<br>tu experiencia,<br>¡Conéctate!</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class='p-absolute p-right p-bottom m-xs-r-5 text-center'>
                <div class="btn-wrap m-xs-r-3">
                    <a class="do-share-home btn btn-circle btn-circle-md ico-share">  </a>
                    <p>Comparte <br> la diversión</p>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
