/*
    Created on : Oct 12, 2016, 10:13:18 PM
    Author     : zero
*/
*{
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
#logo{
    z-index: 101 !important;
}
#conoce{
    z-index: 101 !important;
}
.overlay-wrap{
    -webkit-transition-duration: 0;
    transition-duration: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    height: 100%;
    background: -moz-linear-gradient(top,  rgba(0,0,0,.6) 0%, rgba(0,0,0,1) 85%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,.6) 0%,rgba(0,0,0,1) 85%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(0,0,0,.6) 0%,rgba(0,0,0,1) 85%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}
.group-disabled{
    opacity: .5;
    cursor: default;
}
.group-disabled .btn-circle{
    cursor: default;
}
.group-disabled .btn-circle:hover {
    background-color: #3f3f3f;
    border: 2px solid #838485;
    color: #78787a;
    -webkit-box-shadow:inset 0 0 7px 1px rgba(0,0,0,.3);
    box-shadow:inset 0 0 7px 1px rgba(0,0,0,.3);
}
/*BOOT*/
.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    border: 1px solid transparent;
    white-space: nowrap;
    font-size: 10px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
.clearfix:before,
.clearfix:after,
.dl-horizontal dd:before,
.dl-horizontal dd:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.form-horizontal .form-group:before,
.form-horizontal .form-group:after,
.btn-toolbar:before,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:before,
.btn-group-vertical > .btn-group:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after,
.pager:before,
.pager:after,
.panel-body:before,
.panel-body:after,
.modal-header:before,
.modal-header:after,
.modal-footer:before,
.modal-footer:after {
    content: " ";
    display: table;
}
.clearfix:after,
.dl-horizontal dd:after,
.container:after,
.container-fluid:after,
.row:after,
.form-horizontal .form-group:after,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:after,
.nav:after,
.navbar:after,
.navbar-header:after,
.navbar-collapse:after,
.pager:after,
.panel-body:after,
.modal-header:after,
.modal-footer:after {
    clear: both;
}
.row {
    margin-left: -15px;
    margin-right: -15px;
}
.responsive-image{
    width: 100%;
}
.flex-wrap{
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.flex-wrap > *{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-flow: column;
    flex-grow: 1;
}
.flex-three-columns > *{
    flex-basis: 33%;
}
/*COPIED*/
.overlay-wrap h1, .challenger-wrap p{
    margin: 0;
    font-weight: 400;
    color: #fff;
}
.overlay-wrap p, .challenger-wrap h2{
    color: #fff;
}
.challenger-wrap h2{
    margin: 5px auto;
}
.overlay-wrap h1 strong, .challenger-wrap p strong{ color: #f0b522; }
.hidden{
    display: none;
}
.text-center{
    text-align: center;
}
.btn-wrap{
    display: inline-block;
    vertical-align: top;
}
.circle-wrap{
    min-width:75px;
    max-width:511px;
    margin: auto;
}


.circle-content{
    padding: 7.63209% 19.96086% 12.32876%;
    background-image: url(../images/circle-vect.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: -12%;
}
.btn-circle{
    border-radius: 50%;
    background-color: #3f3f3f;
    font-size: 20px;
    border: 2px solid #838485;
    color: #78787a;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-box-shadow:inset 0 0 7px 1px rgba(0,0,0,.3);
    box-shadow:inset 0 0 7px 1px rgba(0,0,0,.3);
    background-size: contain;
}
.btn-circle:hover{
    background-color: #856614;
    border: 2px solid #f0b522;
}
.ico-micro{ background-image: url(../images/ico/micro.png); }
.ico-share{ background-image: url(../images/ico/share.png); }
.ico-home{ background-image: url(../images/ico/home.png); }
.ico-challenge{ background-image: url(../images/ico/challenge.png); }
.ico-plus{ background-image: url(../images/ico/plus.png); }
.ico-back{ background-image: url(../images/ico/back.png); }
.ico-next{ background-image: url(../images/ico/next.png); }
.ico-pause{ background-image: url(../images/ico/pause.png); }
.ico-restart{ background-image: url(../images/ico/restart.png); }
.ico-play{ background-image: url(../images/ico/play.png); }
.ico-fb{ background-image: url(../images/ico/fb.png); }
.p-absolute{ position: absolute; }
.p-x-middle{
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
.p-y-middle{
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.p-x-middle.p-y-middle{
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
}
.p-bottom{ bottom: 0; }
.p-right{ right: 0; }
.full-width{ width: 100%; }
.circle-image-wrap{
    border-radius: 50%;
    display: inline-block;
    overflow: hidden;
}
.challenger-wrap{
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 5%;
    width: 102px;
    z-index: 5;
}
.cv-wrap{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-image: url(../images/cv.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 11px;
    width: 102px;
    height: 102px;
    margin: auto;
}
@media only screen and (max-device-width : 736px){

    .challenger-wrap{
        right: 3%;
        width: 51px;
    }
    .cv-wrap{
        padding: 6px;
        width: 51px;
        height: 51px;
    }

    .overlay-wrap h1 { font-size: 19px; }
    .overlay-wrap p, li { font-size: 8px; }
    .btn-circle-lg{
        width: 60px;
        height:60px;
    }
    .btn-circle-md{
        width: 50px;
        height: 50px;
    }
    .btn-circle-sm{
        width: 40px;
        height: 40px;
    }
    .circle-wrap {
        width: 56.6%;
    }
    .pausado
    {
        width: 50px;
        height: 50px;
        position:absolute;
        top: auto;
        bottom:30%;
        right:5%;
        padding-top:0;
    }
    .pausado img {
        max-width: 100%;
    }
}
@media only screen and (max-device-width : 736px) and (orientation : portrait){
    .circle-wrap {
        width: 100% !important;
    }
}

/*Not mobile*/
@media only screen and (min-device-width : 736px){
    .overlay-wrap h1 { font-size: 35px; }
    .overlay-wrap p{ font-size: 18px; }
    .btn-circle-lg{
        width: 100px;
        height: 100px;
    }
    .btn-circle-md{
        width: 74px;
        height: 74px;
    }
    .btn-circle-sm{
        width: 52px;
        height: 52px;
    }
    .circle-wrap{
        width:36.6%;
    }
}
/*COPIED*/
/*MARGINS*/
.m-xs-t-1{margin-top: 10px;}
.m-xs-t-2{margin-top: 20px;}
.m-xs-t-3{margin-top: 30px;}
.m-xs-t-4{margin-top: 40px;}
.m-xs-t-5{margin-top: 50px;}

.m-xs-r-1{margin-right: 10px;}
.m-xs-r-2{margin-right: 20px;}
.m-xs-r-3{margin-right: 30px;}
.m-xs-r-4{margin-right: 40px;}
.m-xs-r-5{margin-right: 50px;}

.m-xs-b-1{margin-bottom: 10px;}
.m-xs-b-2{margin-bottom: 20px;}
.m-xs-b-3{margin-bottom: 30px;}
.m-xs-b-4{margin-bottom: 40px;}
.m-xs-b-5{margin-bottom: 50px;}

.m-xs-l-1{margin-left: 10px;}
.m-xs-l-2{margin-left: 20px;}
.m-xs-l-3{margin-left: 30px;}
.m-xs-l-4{margin-left: 40px;}
.m-xs-l-5{margin-left: 50px;}

.m-xs-tb-1{margin-top: 10px;margin-bottom: 10px;}
.m-xs-tb-2{margin-top: 20px;margin-bottom: 20px;}
.m-xs-tb-3{margin-top: 30px;margin-bottom: 30px;}
.m-xs-tb-4{margin-top: 40px;margin-bottom: 40px;}
.m-xs-tb-5{margin-top: 50px;margin-bottom: 50px;}

.m-xs-t-n-1{margin-top: -10px;}
.m-xs-t-n-2{margin-top: -20px;}
.m-xs-t-n-3{margin-top: -30px;}
.m-xs-t-n-4{margin-top: -40px;}
.m-xs-t-n-5{margin-top: -50px;}

.col-xs-over-1{margin-left: -4.26666667%;margin-right: -4.26666667%;}

@media (min-width: 768px) {
    .m-sm-t-0{margin-top: 0;}
    .m-sm-t-1{margin-top: 10px;}
    .m-sm-t-2{margin-top: 20px;}
    .m-sm-t-3{margin-top: 30px;}
    .m-sm-t-4{margin-top: 40px;}
    .m-sm-t-5{margin-top: 50px;}

    .m-sm-r-0{margin-right: 0;}
    .m-sm-r-1{margin-right: 10px;}
    .m-sm-r-2{margin-right: 20px;}
    .m-sm-r-3{margin-right: 30px;}
    .m-sm-r-4{margin-right: 40px;}
    .m-sm-r-5{margin-right: 50px;}

    .m-sm-b-0{margin-bottom: 0;}
    .m-sm-b-1{margin-bottom: 10px;}
    .m-sm-b-2{margin-bottom: 20px;}
    .m-sm-b-3{margin-bottom: 30px;}
    .m-sm-b-4{margin-bottom: 40px;}
    .m-sm-b-5{margin-bottom: 50px;}

    .m-sm-l-0{margin-left: 0;}
    .m-sm-l-1{margin-left: 10px;}
    .m-sm-l-2{margin-left: 20px;}
    .m-sm-l-3{margin-left: 30px;}
    .m-sm-l-4{margin-left: 40px;}
    .m-sm-l-5{margin-left: 50px;}

    .m-sm-tb-0{margin-top: 10px;margin-bottom: 0;}
    .m-sm-tb-1{margin-top: 10px;margin-bottom: 10px;}
    .m-sm-tb-2{margin-top: 20px;margin-bottom: 20px;}
    .m-sm-tb-3{margin-top: 30px;margin-bottom: 30px;}
    .m-sm-tb-4{margin-top: 40px;margin-bottom: 40px;}
    .m-sm-tb-5{margin-top: 50px;margin-bottom: 50px;}
}

@media (min-width: 992px) {
    .m-md-t-0{margin-top: 0;}
    .m-md-t-1{margin-top: 10px;}
    .m-md-t-2{margin-top: 20px;}
    .m-md-t-3{margin-top: 30px;}
    .m-md-t-4{margin-top: 40px;}
    .m-md-t-5{margin-top: 50px;}

    .m-md-r-0{margin-right: 0;}
    .m-md-r-1{margin-right: 10px;}
    .m-md-r-2{margin-right: 20px;}
    .m-md-r-3{margin-right: 30px;}
    .m-md-r-4{margin-right: 40px;}
    .m-md-r-5{margin-right: 50px;}

    .m-md-b-0{margin-bottom: 0;}
    .m-md-b-1{margin-bottom: 10px;}
    .m-md-b-2{margin-bottom: 20px;}
    .m-md-b-3{margin-bottom: 30px;}
    .m-md-b-4{margin-bottom: 40px;}
    .m-md-b-5{margin-bottom: 50px;}

    .m-md-l-0{margin-left: 0;}
    .m-md-l-1{margin-left: 10px;}
    .m-md-l-2{margin-left: 20px;}
    .m-md-l-3{margin-left: 30px;}
    .m-md-l-4{margin-left: 40px;}
    .m-md-l-5{margin-left: 50px;}

    .m-md-tb-0{margin-top: 10px;margin-bottom: 0;}
    .m-md-tb-1{margin-top: 10px;margin-bottom: 10px;}
    .m-md-tb-2{margin-top: 20px;margin-bottom: 20px;}
    .m-md-tb-3{margin-top: 30px;margin-bottom: 30px;}
    .m-md-tb-4{margin-top: 40px;margin-bottom: 40px;}
    .m-md-tb-5{margin-top: 50px;margin-bottom: 50px;}

    .col-md-over-1{margin-left: -4.26666667%;margin-right: -4.26666667%;}

    .m-md-t-n-1{margin-top: -10px;}
    .m-md-t-n-2{margin-top: -20px;}
    .m-md-t-n-3{margin-top: -30px;}
    .m-md-t-n-4{margin-top: -40px;}
    .m-md-t-n-5{margin-top: -50px;}
}

@media (min-width: 1200px) {
    .m-lg-t-0{margin-top: 0;}
    .m-lg-t-1{margin-top: 10px;}
    .m-lg-t-2{margin-top: 20px;}
    .m-lg-t-3{margin-top: 30px;}
    .m-lg-t-4{margin-top: 40px;}
    .m-lg-t-5{margin-top: 50px;}

    .m-lg-r-0{margin-right: 0;}
    .m-lg-r-1{margin-right: 10px;}
    .m-lg-r-2{margin-right: 20px;}
    .m-lg-r-3{margin-right: 30px;}
    .m-lg-r-4{margin-right: 40px;}
    .m-lg-r-5{margin-right: 50px;}

    .m-lg-b-0{margin-bottom: 0;}
    .m-lg-b-1{margin-bottom: 10px;}
    .m-lg-b-2{margin-bottom: 20px;}
    .m-lg-b-3{margin-bottom: 30px;}
    .m-lg-b-4{margin-bottom: 40px;}
    .m-lg-b-5{margin-bottom: 50px;}

    .m-lg-l-0{margin-left: 0;}
    .m-lg-l-1{margin-left: 10px;}
    .m-lg-l-2{margin-left: 20px;}
    .m-lg-l-3{margin-left: 30px;}
    .m-lg-l-4{margin-left: 40px;}
    .m-lg-l-5{margin-left: 50px;}

    .m-lg-tb-0{margin-top: 10px;margin-bottom: 0;}
    .m-lg-tb-1{margin-top: 10px;margin-bottom: 10px;}
    .m-lg-tb-2{margin-top: 20px;margin-bottom: 20px;}
    .m-lg-tb-3{margin-top: 30px;margin-bottom: 30px;}
    .m-lg-tb-4{margin-top: 40px;margin-bottom: 40px;}
    .m-lg-tb-5{margin-top: 50px;margin-bottom: 50px;}
}
/*MARGINS*/