/*
    Created on : Jul 11, 2015, 2:46:27 AM
    Author     : ZER0
*/
/*iPad in portrait & landscape*/
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)  { /* STYLES GO HERE */}

/*iPad in landscape*/
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) { /* STYLES GO HERE */}

/*iPad in portrait*/
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) { /* STYLES GO HERE */ }

/*iPad 3 & 4 Media Queries*/
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (-webkit-min-device-pixel-ratio: 2) { /* STYLES GO HERE */}

/*Retina iPad in landscape*/
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape)
and (-webkit-min-device-pixel-ratio: 2) { /* STYLES GO HERE */}

/*Retina iPad in portrait*/
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 2) { /* STYLES GO HERE */ }

/*iPad 1 & 2 Media Queries*/
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (-webkit-min-device-pixel-ratio: 1){ /* STYLES GO HERE */}

/*iPad 1 & 2 in landscape*/
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape)
and (-webkit-min-device-pixel-ratio: 1)  { /* STYLES GO HERE */}

/*iPad 1 & 2 in portrait*/
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 1) { /* STYLES GO HERE */ }

/*iPhone 6 in portrait & landscape*/
@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px) { /* STYLES GO HERE */}

/*iPhone 6 in landscape*/
@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px)
and (orientation : landscape) { /* STYLES GO HERE */}

/*iPhone 6 in portrait*/
@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px)
and (orientation : portrait) { /* STYLES GO HERE */ }

/*iPhone 6 Plus in portrait & landscape*/
@media only screen
and (min-device-width : 414px)
and (max-device-width : 736px) { /* STYLES GO HERE */}

/*iPhone 6 Plus in landscape*/
@media only screen
and (min-device-width : 414px)
and (max-device-width : 736px)
and (orientation : landscape) { /* STYLES GO HERE */}

/*iPhone 6 Plus in portrait*/
@media only screen
and (min-device-width : 414px)
and (max-device-width : 736px)
and (orientation : portrait) { /* STYLES GO HERE */ }

/*iPhone 5 & 5S in portrait & landscape*/
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px) { /* STYLES GO HERE */}

/*iPhone 5 & 5S in landscape*/
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation : landscape) { /* STYLES GO HERE */}

/*iPhone 5 & 5S in portrait*/
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation : portrait) { /* STYLES GO HERE */ }

/*iPhone 2G-4S in portrait & landscape*/
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) { /* STYLES GO HERE */}

/*iPhone 2G-4S in landscape*/
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px)
and (orientation : landscape) { /* STYLES GO HERE */}

/*iPhone 2G-4S in portrait*/
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px)
and (orientation : portrait) { /* STYLES GO HERE */ }


/*Phones*/
@media only screen and (max-device-width : 736px){

    .headphones-loading{
        width: 50%;
    }

    h1 { font-size: 1.9rem; }
    h2 { font-size: 1.7rem; }
    h3 { font-size: 1.5rem; }
    p, li { font-size: .8rem; }

    .homepage-content p{
        font-size: 1.1rem;
    }

    .homepage-content h1{
        font-size: 2.1rem;
    }

    .main-wrap{
        margin-top: 2rem;
    }

    .site-wrap{
        z-index: 0;
        height: 100vh;
        overflow: hidden;
    }
    .header-wrap{
        padding: .5rem 0;
    }
    .logo{
        margin-top: .5rem;
        width: 12.5rem;
        height: 2rem;
    }
    .bg-wrap{
        top: 10.5%;
        left: 0;
        z-index: -1;
        background-size: 100% auto;
    }
    .footer-wrap{
        padding: 1rem;
    }

    .btn-circle-lg{
        width: 6rem;
        height:6rem;
    }
    .btn-circle-md{
        width: 5rem;
        height: 5rem;
    }
    .btn-circle-sm{
        width: 4rem;
        height: 4rem;
    }

    .btn-pill{
        padding: .7rem 1.5rem;
        font-size: .8rem;
    }


    .slider-features .circle-wrap{
        width:36.6%;
        min-width:75px;
        max-width:511px;
        margin: initial;
        display: inline-block;
        vertical-align: middle;
        margin-left: 3.3%;
    }

    .slider-features .circle-content{
        padding: 7.63209% 19.96086% 20.32876%;
        background-image: url(../images/circle-vect.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        margin-bottom: 0%;
    }
    .slider-features .info-wrap{
        display: inline-block;
        width: 60%;
        vertical-align: top;
        margin-top: 2rem;
    }
    .circle-wrap-genero + h2 {
        line-height: 2rem;
    }
    .circle-wrap-genero:hover + h2,
    .circle-wrap-genero.active + h2 {
        font-size: 2rem;
    }
    .pull-top{
        margin-top: -15%;
    }
    .enable-scroll{
        overflow-y: scroll;
        height: 75vh !important;
    }
    .enable-scroll .circle-image-wrap img{
        border-radius: 50%;
    }
}

/*Not mobile*/
@media only screen and (min-device-width : 736px){

    h1 { font-size: 3.2rem; }
    h2 { font-size: 2.2rem; }
    h3 { font-size: 1.5rem; }
    p, li { font-size: 1.5rem; }
    .site-wrap{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        overflow: hidden;
    }
    .header-wrap{
        padding: 1rem 0;
    }
    .logo{
        margin-top: 1rem;
    }
    .homepage-content{
        margin-top: 9rem;
    }

    .btn-circle-lg{
        width: 10rem;
        height: 10rem;
    }
    .btn-circle-md{
        width: 7.4rem;
        height: 7.4rem;
    }
    .btn-circle-sm{
        width: 5.2rem;
        height: 5.2rem;
    }
    .btn-pill{
        padding: 1rem 2rem;
        font-size: 1.1rem;
    }
    .opaque{
        padding-top: 7%;
        padding-bottom: 3%;
    }
    .circle-wrap-genero + h2 {
        line-height: 2.5rem;
    }
    .circle-wrap-genero:hover + h2,
    .circle-wrap-genero.active + h2 {
        font-size: 2.5rem;
    }
    .pull-top{
        margin-top: -2%;
    }
}

/*Laptop*/
@media only screen and (min-device-width : 1100px) and (max-device-width : 1280px){ /* STYLES GO HERE */ }