@font-face {
    font-family: LouisRegular;
    src: url(fonts/LouisItalic.woff);
}

body {
    background-color: #000000;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: "LouisRegular";
}

#conoce a {
    text-decoration: none;
    font-style: normal;
}

p
{
    margin:0px;
}
#info {
    position: absolute;
    top: 0px; width: 100%;
    color: #ffffff;
    padding: 5px;
    font-family:"LouisRegular";
    font-size:13px;
    font-weight: bold;
    text-align:center;
}

a {
    color: #ffffff;
}
#container
{
    width:720px;
    height:405px;
}

#header
{
    width:100%;
    height:70px;
    background:#000;
    position:absolute;
    top:0px;
    left:0px;
    z-index:2;
    opacity:0.8;
    border-bottom: 2px solid #A09F71;

}

#logo
{
    position:absolute;
    top: 20px; left: 20px;
    z-index:3;
    cursor:pointer;
}

#conoce
{
    position:absolute;
    right: 20px; top: 20px;
    z-index:3;
    cursor:pointer;
    width:auto;
    padding: 8px 13px;
    color:white;
    font-size:12px;
    border-radius:15px;
    border:1px solid #2B2B2B;
    background:#1C1C1C
}

#txtscore
{
    color:#E5B441;
    font-size:20px;
    margin-right: 48px;
}

#detalle_score
{
    position:relative;
    top: -19px; left: 55px;
}

#value_score
{
    color:white;
    font-size:34px;
    padding-bottom:3px;
    border-bottom:1px solid #959E98;
    text-align:left;

}

#container_score
{
    position:absolute;
    top:80px;
    right:20px;
    z-index:2;
    font-size:20px;
    font-weight:700;
    text-align:right;
    top: 100px; right: 100px;
    width: 180px; height: 78px;
}

#container_sub
{
    width:100%;
    height:80px;
    position:absolute;
    bottom:40px;
    left:0px;
    z-index:2;
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

#sub_current
{
    font-size:20px;
    font-weight:700;
    text-align:center;
    color:#fff;
    position:absolute;
    bottom:70px;
    left:0px;
    z-index:2;
    width:100%;
}

#sub_current span
{
    color:#efb523;
}

.effect
{
    /*animation:blur .95s ease-out;
	text-shadow:0px 0px 2px #fff,
      0px 0px 2px #fff;*/
}

@keyframes blur{
  from{
      text-shadow:0px 0px 1px #fff,
      0px 0px 1.2px #fff, 
      0px 0px 1.4px #fff,
      0px 0px 1.6px #fff,
      0px 0px 1.8px #fff,
      0px 0px 2.0px #fff,
      0px 0px 2.2px #fff,
      0px 0px 2.4px #fff,
      0px 0px 2.6px #fff,
      0px 0px 2.8px #fff;
      }
}


#sub_time
{
    font-size:20px;
    font-weight:700;
    text-align:center;
    color:#efb523;
    position:absolute;
    bottom:70px;
    left:0px;
    z-index:2;
    width:100%;
}

.text_color
{
    color:#efb523;
    font-size:23px;
}

#move_right
{
    position:absolute;
    top:40%;
    right:20%;
    z-index:2;
    cursor:pointer;
}

.evento
{
    margin-top: -90px;
    margin-left: -85px;
    width: 170px;
    height: 180px;
    position:absolute;
    top:50%;
    left:50%;
    z-index:4;
    cursor:pointer;
    color:white;
    text-align:center;
    padding-top:20px;
}

.pausado
{
    width: 170px;
    height: 180px;
    position:absolute;
    top:70%;
    right:10%;
    z-index:4;
    cursor:pointer;
    color:white;
    text-align:center;
    padding-top:20px;
}

.status
{
    margin-top: -175px;
    margin-left: -179.5px;
    width: 350px;
    height: 359px;
    position:absolute;
    top:50%;
    left:50%;
    z-index:4;
    cursor:pointer;
    color:white;
    text-align:center;
    padding-top:20px;
}

#indicador
{
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-121.5px;
    margin-top:-121.5px;
    z-index:3;
    cursor:pointer;
}

#fade
{
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    z-index:4;
    background:#fff;
    opacity:0.5;
}

#icon360
{
    position:absolute;
    /*top:15%;*/
	bottom: 450px;
	width: 80px;
    left:5%;
    z-index:3;
    cursor:pointer;
}

#ondas
{
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-208px;
    margin-top:-213.5px;
    z-index:2;
    cursor:pointer;
}

.disabled
{
    display:none;
}

.enable
{
    display:initial;
}

#move_left
{
    position:absolute;
    top:40%;
    left:20%;
    z-index:2;
    cursor:pointer;
}

#move_left:hover, #move_right:hover
{
    opacity:0.7;
}

#audio_bar
{
    position:absolute;
    bottom:30%;
    left:30px;
    z-index:2;
    width:5px;
    height:300px;
}

#bar_triangulo
{
	z-index:5;
	position:absolute;
	top:141px;
	left:0px;
}

#line_bar_color
{
    width:3px;
    /*height:300px;*/
	height:100%;
	transform-origin: bottom;
    background-color:#efb523;
    border-radius:5px;
	z-index:5;
	position:relative;
	bottom:0px;
	left:10px;
	float: left;
}

#line_bar
{
	position:absolute;
	left:11px;
    width:1px;
    height:300px;
    background-color:#3A383A;
    border-radius:5px;
}

#bar_iconBueno{
	position: absolute;
    top: 55;
    left: 33;
    width: 22px;
}

#bar_iconMalo{
	position: absolute;
    bottom: 55;
    left: 33;
    width: 22px;
}

#bar_score
{
	position:absolute; 
	bottom:120px;
	left:30px;
	z-index:4;
	width:15px;
	height:300px;
	
}
.lines
{
	position:relative; 
	width:13px;
	height:300px;
	overflow:hidden;
}

.warp
{
    position:relarive;
}

#txtaudio
{
    font-size:13px;
    font-weight:700;
    color:#efb523;
    position:absolute;
    top:0px;
    left:5px;
    z-index:2;
    width:100px;
}

#html5Loader{
    top:0;
    left:0;
    background-color:black;
    margin:0;
    position:fixed;
}
#html5Loader .fallback {
    top:50%;
    position:absolute;
    text-align:center;
    width:100%;
    color:#efb523;
    vertical-align: middle;
    display: block;
    font-style: normal;
    font-family: "LouisRegular";
    font-size:23px;
}

.grabbable {
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

/* (Optional) Apply a "closed-hand" cursor during drag operation. */
.grabbable:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

#myProgress {
    position: relative;
    width: 100%;
    height: 30px;
    background-color: #ddd;
}

#myBar {
    position: absolute;
    width: 1%;
    height: 100%;
    background-color: #4CAF50;
}


@media only screen and (min-device-width : 320px) and (max-device-width : 667px)
{
    #conoce
    {
        position:absolute;
        right: 10px; top: 10px;
        z-index:3;
        cursor:pointer;
        width:auto;
        padding: 6px 11px;
        color:white;
        font-size:10px;
        border-radius:15px;
        border:1px solid #2B2B2B;
        background:#1C1C1C
    }

    #header {
        background: #000 none repeat scroll 0 0;
        border-bottom: 2px solid #a09f71;
        height: 45px;
        left: 0;
        opacity: 0.8;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 2;
    }

    #logo
	{
        position:absolute;
        top: 15px; left: 15px;
        z-index:3;
        cursor:pointer;
        width:130px;
    }

    #icon360
	{
        position:absolute;
        left:10px;
        top:70px;
        z-index:4;
        cursor:pointer;
        width:30px;
        
    }

    #move_left
	{
        cursor: pointer;
        left: 20%;
        position: absolute;
        top: 50%;
        margin-top:-40px;
        z-index: 2;
        height:80px;
    }

    #move_right
	{
        cursor: pointer;
        position: absolute;
        right: 20%;
        top: 50%;
        margin-top:-40px;
        z-index: 2;
        height:80px;
    }

    #sub_current {
        bottom: 70px;
        color: #ffffff;
        font-size: 18px;
        font-weight: 700;
        left: 0;
        position: absolute;
        text-align: center;
        width: 100%;
        z-index: 2;
    }


    #sub_current span
       {
        color:#efb523;
    }


    #sub_time {
        bottom: 70px;
        color: #efb523;
        font-size: 18px;
        font-weight: 700;
        left: 0;
        position: absolute;
        text-align: center;
        width: 100%;
        z-index: 2;
    }

    .text_color {
        color: #efb523;
        font-size:18px;
    }

    #container_score
    {
        width:160px;
        height:50px;
        position:absolute;
        top:65px;
        right:15px;
        z-index:4;
        font-weight:700;
        text-align:right;
    }

    #txtscore
    {
        color:#E5B441;
        font-size:18px;
        margin-right:0px;
    }

    #detalle_score
    {
        position:relative;
        top: -15px; left:0px;
        width:50px;
    }

    #value_score
    {
        color:white;
        font-size:26px;
        padding-bottom:3px;
        border-bottom:1px solid #959E98;
        text-align:left;
    }

    #audio_bar {
        bottom:40%;
        height:100px;
        left: 30px;
        position: absolute;
        width: 5px;
        z-index: 2;
    }
	
	#bar_triangulo
	{
		z-index:5;
		position:absolute;
		top:91px;
		left:0px;
	}

	#line_bar_color
	{
		width:3px;
		height:200px;
		background-color:#efb523;
		border-radius:5px;
		z-index:5;
		position:absolute;
		bottom:0;
		left:10px;
	}

	#line_bar
	{
		position:absolute;
		left:11px;
		width:1px;
		height:200px;
		background-color:#3A383A;
		border-radius:5px;
	}

	#bar_score
	{
		position:absolute; 
		bottom:90px;
		left:30px;
		z-index:4;
		width:15px;
		height:200px;
		
	}
	.lines
	{
		position:relative; 
		width:13px;
		height:200px;
		overflow:hidden;
	}

    #container_sub
    {
        width:100%;
        height:100px;
        position:absolute;
        bottom:40px;
        left:0px;
        z-index:2;
    }

}

@media only screen and (min-device-width : 320px) and (max-device-width : 667px) and (orientation : landscape)
{

    #header {
        background: #000 none repeat scroll 0 0;
        border-bottom: 2px solid #a09f71;
        height: 45px;
        left: 0;
        opacity: 0.8;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 2;
    }

    #bar_iconBueno{
        width: 22px;
    }

    #bar_iconMalo{
        width: 22px;
    }

    #conoce
    {
        position:absolute;
        right: 10px; top: 10px;
        z-index:3;
        cursor:pointer;
        width:auto;
        padding: 6px 11px;
        color:white;
        font-size:10px;
        border-radius:15px;
        border:1px solid #2B2B2B;
        background:#1C1C1C
    }

    #logo
    {
        position:absolute;
        top: 15px; left: 15px;
        z-index:3;
        cursor:pointer;
        width:130px;
    }

    #icon360
    {
        position:absolute;
        left:22px;
        top:70px;
        z-index:4;
        cursor:pointer;                
        width:30px;
    }

    #move_left
    {
        display:none;
    }

    #move_right
    {
        display:none;
    }

    #sub_time {
        bottom: 50px;
        color: #efb523;
        font-size: 16px;
        font-weight: 700;
        left: 0;
        position: absolute;
        text-align: center;
        width: 100%;
        z-index: 2;
    }

    .text_color {
        color: #efb523;
        font-size:18px;
    }

    #container_score
    {
        width:160px;
        height:50px;
        position:absolute;
        top:65px;
        right:15px;
        z-index:4;
        font-weight:700;
        text-align:right;
    }

    #txtscore
    {
        color:#E5B441;
        font-size:18px;
        margin-right:0px;
    }

    #detalle_score
    {
        position:relative;
        top: -15px; left:0px;
        width:50px;
    }

    #value_score
    {
        color:white;
        font-size:26px;
        padding-bottom:3px;
        border-bottom:1px solid #959E98;
        text-align:left;
    }

    #audio_bar {
        bottom:40%;
        height:100px;
        left: 30px;
        position: absolute;
        width: 5px;
        z-index: 2;
    }

    #bar_triangulo
	{
		z-index:5;
		position:absolute;
		top:91px;
		left:0px;
	}

	#line_bar_color
	{
		width:3px;
		height:200px;
		background-color:#efb523;
		border-radius:5px;
		z-index:5;
		position:absolute;
		bottom:0;
		left:10px;
	}

	#line_bar
	{
		position:absolute;
		left:11px;
		width:1px;
		height:200px;
		background-color:#3A383A;
		border-radius:5px;
	}

	#bar_score
	{
		position:absolute; 
		bottom:60px;
		left:30px;
		z-index:4;
		width:15px;
		height:200px;
		
	}
	.lines
	{
		position:relative; 
		width:13px;
		height:200px;
		overflow:hidden;
	}

    #container_sub
    {
        width:100%;
        height:45px;
        position:absolute;
        bottom:40px;
        left:0px;
        z-index:2;
    }

    #sub_current {
        bottom: 57px;
        color: #ffffff;
        font-size: 16px;
        font-weight: 700;
        left: 0;
        position: absolute;
        text-align: center;
        width: 100%;
        z-index: 2;
    }
}