/*
    Created on : Jul 11, 2015, 2:25:10 AM
    Author : ZER0
*/
/*
COLORS
COLOR: #HEX;
*/
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
}
.bx-wrapper,.bx-wrapper *{ position: initial; }
html {
    font-size: 10px;
    -webkit-text-size-adjust: none;
    font-family: 'Louis-Regular', Arial, sans-serif !important;
    font-weight: 400;
}
html, body {
    height: 100%;
    min-height: 100%;
    background-color: black;
}
body {
    font-size: 0;

}
h1,h2,h3{
    margin: 0;
    font-weight: 400;
    color: #fff;
}
h3{
    font-family: 'Louis-CondensedRegular';
}
p, li {
    line-height: 1.2em;
    color: inherit;
}
strong{ font-weight: 700; }

label { font-size: 1.4rem; }
.fs-italic{ font-family: 'Louis-Italic'; }
.fs-bold-italic{ font-family: 'Louis-BoldItalic'; }
.responsive-media > *{
    width: 100%;
    max-width: 100%;
}
/*slider*/
.slider-loading .bx-viewport,
.slider-loading .bx-wrapper{
    position:relative;
    width:100%;
    height:100% !important;
    top:0;
    left:0;
}
.slider-loading, .slider-loading .slide-wrap { height: 100vh !important;; }
.slider-loading .slide-wrap {
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
}

.bg-1{ background-image: url('../images/loading/bg-1.jpg'); }
.bg-2{ background-image: url('../images/loading/bg-2.jpg'); }
.bg-3{ background-image: url('../images/loading/bg-3.jpg'); }


/*load*/
.opaque{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.7+50 */
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.7) 50%, rgba(0,0,0,0.7) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.7) 50%,rgba(0,0,0,0.7) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.7) 50%,rgba(0,0,0,0.7) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#b3000000',GradientType=0 ); /* IE6-9 */
}
p{ color: white; }
h1 strong,
h2 strong,
h3 strong{ color: #f0b522; }


.circle-wrap{
    width:36.6%;
    min-width:75px;
    max-width:511px;
    position: relative;
    margin: auto;
}

.features-little-text{
    color: #a8a8a8;
}
.slider-features .info-wrap h3{
    line-height: 1.5em;
}

.circle-content{
    position: relative;
    padding: 7.63209% 19.96086% 20.32876%;
    background-image: url(../images/circle-vect.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: -20%;
}
.circle-wrap + .info-wrap{
    margin-top: 1%;
    margin-bottom: 3%;
}
.circle-wrap-genero{
    width:85%;
    min-width:75px;
    max-width:511px;
    margin: auto;
}
.circle-content-genero{
    padding: 12.63209% 12.96086% 12.32876%;
    background-image: url(../images/circle-vect-short.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: -6%;
}
.circle-content-genero:hover,
.circle-content-genero.active{
    padding: 12.63209% 12.96086% 12.32876%;
    background-image: url(../images/circle-select.png);
}
.circle-wrap-genero:hover + h2 {
    font-size: 3rem;
    -webkit-transition-duration: .5s;
    transition-duration: .5s;
}

.text-3{ font-size: 3rem; }
.btn.btn-continue:focus{ outline: none; }

/*0*/
.p-absolute{ position: absolute; }
.p-x-middle{
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
.p-y-middle{
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.p-x-middle.p-y-middle{
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
}
.p-bottom{ bottom: 0; }
.p-right{ right: 0; }
.full-width{ width: 100%; }

.small-first-line:first-line,.first-txt-row{ font-size: .65625em; }

.header-wrap{
    border-bottom: 1px solid #876d26;
    background-color: #000;
    z-index: 101;
}
.logo{
    background-image: url(../images/template/logo-chevrolet.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 14.2rem;
    height: 2.3rem;
    display: inline-block;
}
.footer-wrap{
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 2rem;
}
.bg-wrap{
    background-position: center -40px;
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    height: 100%;
}
.btn-wrap{
    display: inline-block;
    vertical-align: top;
}
.btn-circle{
    border-radius: 50%;
    background-color: #3f3f3f;
    font-size: 2rem;
    border: 2px solid #838485;
    color: #78787a;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-box-shadow:inset 0 0 7px 1px rgba(0,0,0,.3);
    box-shadow:inset 0 0 7px 1px rgba(0,0,0,.3);
    background-size: contain;
}
.btn-circle:hover{
    background-color: #856614;
    border: 2px solid #f0b522;
}

.btn-pill{
    background-color: #1c1c1c;
    border-radius: 2.5rem;
    border: 1px solid #3f3e3e;
    color: #fff;
    display: inline-block;
}
.btn-pill:hover{
    color: #fff;
    background-color: #525458;
}

.txt-as-ico{ font-size: 4rem; }
.icon{
    width: 3.3rem;
    padding-top: 5.6rem;
    height: 0;
    display: inline-block;
    margin: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.ico-micro-trim{ background-image: url(../images/ico/micro-trim.png); }
.ico-micro{ background-image: url(../images/ico/micro.png); }
.ico-share{ background-image: url(../images/ico/share.png); }
.ico-home{ background-image: url(../images/ico/home.png); }
.ico-challenge{ background-image: url(../images/ico/challenge.png); }
.ico-plus{ background-image: url(../images/ico/plus.png); }
.ico-back{ background-image: url(../images/ico/back.png); }
.ico-next{ background-image: url(../images/ico/next.png); }
.ico-pause{ background-image: url(../images/ico/pause.png); }
.ico-restart{ background-image: url(../images/ico/restart.png); }
.ico-play{ background-image: url(../images/ico/play.png); }
.ico-fb{ background-image: url(../images/ico/fb.png); }
.border-b{ border-bottom: 1px solid #313032; }

.rank-item{
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.circle-image-wrap{
    border-radius: 50%;
    display: inline-block;
    overflow: hidden;
}
.bordered-wrap{
    border-radius: 50%;
    padding: .2rem;
    background-color: #f0b522;
}


.full-circle-wrap{
    width:100%;
    padding-top: 100%;
    display: block;
    background-image: url(../images/full-circle.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.full-circle-content{
    width: 61.5%;
    height: 61.5%;
}
.full-circle-content .circle-image-wrap{
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: block;
}
.circles{
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 10.6rem;
    height: .9rem;
    vertical-align: baseline;
    display: inline-block;
}
.l-circles{ background-image: url(../images/l-circles.png); }
.r-circles{ background-image: url(../images/r-circles.png); }

.user-score-wrap{
    margin-bottom: -2rem;
}

.progress{
    height: 2px;
}

.orientation-wrap{
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-image: url(../images/template/rotate.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.orientation-wrap p{
    color: #fff;
}

.homepage-content h1{
    line-height: .9em;
}

/*  SCROLL PERSONALIZADO  */
::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}
::-webkit-scrollbar-button {
    width: 100px;
    height: 100px;
}
::-webkit-scrollbar-thumb {
    background: #9891a0;
    border: 0px none #ffffff;
    border-radius: 100px;
}
::-webkit-scrollbar-thumb:hover {
    background: #ad8520;
}
::-webkit-scrollbar-thumb:active {
    background: #000000;
}
::-webkit-scrollbar-track {
    background: #666666;
    border: 0px none #ffffff;
    border-radius: 100px;
}
::-webkit-scrollbar-track:hover {
    background: #666666;
}
::-webkit-scrollbar-track:active {
    background: #333333;
}
::-webkit-scrollbar-corner {
    background: transparent;
}


.terms-conditions ol>li{
    color: white;
}

.btn-fixed{
    left: 0;
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

/*ANIMATIONS*/
.btn-circle:hover {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}

.overlay-wrap{
    -webkit-transition-duration: 0;
    transition-duration: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    height: 100%;
    background: -moz-linear-gradient(top,  rgba(0,0,0,1) 0%, rgba(0,0,0,1) 85%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(0,0,0,1) 85%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(0,0,0,1) 0%,rgba(0,0,0,1) 85%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}

.profile-thumb{
    width: 60px;
    height: 60px;
    vertical-align: middle;
    display: inline-block;
    margin: 0 1rem;
}
.friends-list{
    list-style: none;
    padding: 0;
    height: 53vh;
    overflow: scroll;
    margin: 1rem 0 0;
}
.friend-wrap{
    width: 49%;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    color: #f0b522;
    margin-bottom: 1rem;
}
.friend-name-wrap{
    width: calc(100% - 90px);
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
}

.spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    width: 50px;
    height: 40px;
    text-align: center;
    font-size: 10px;
    z-index: 100;
}

.spinner > div {
    background-color: #fff;
    height: 100%;
    width: 6px;
    display: inline-block;

    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

.spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
    0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
    20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
    0%, 40%, 100% {
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    }  20% {
        transform: scaleY(1.0);
        -webkit-transform: scaleY(1.0);
    }
}

.ios-not-available{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    height: 100%;
    background-color: #000;
    background-image: url(../images/ios.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.safari-not-available{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    height: 100%;
    background-color: #000;
    background-image: url(../images/safari.jpg);
    background-position: center 70px;
    background-repeat: no-repeat;
}
.device-position-wrap{
    background-color: #000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}