{% extends 'SonicBundle::base.html.twig' %}
{% block metas %}
    <meta property="og:title" content="Es momento de cantar con todo el sentimiento. Saca la diversión que llevas dentro" />
{% endblock %}
{% block background %}
    <div class='row'>
        <div class="slider-wrap slider-loading">
            <div class="slider-content" data-auto="true" data-controls="false" data-mode="fade" data-pager='false'>
                <div class="slide-wrap bg-1"></div>
                <div class="slide-wrap bg-2"></div>
                <div class="slide-wrap bg-3"></div>
            </div>
        </div>
    </div>
{% endblock %}
{% block loader %}
    <div class='row text-center p-absolute p-bottom  opaque full-width '>
        <div class="clearfix m-xs-tb-1 m-md-tb-3">
            <div class="col-xs-4 col-sm-2 col-xs-offset-10 col-sm-offset-11">
                {% image '@SonicBundle/Resources/public/images/audif.png' %}
                <img src="{{ asset_url }}" alt="logo" class="img-responsive headphones-loading" />
                {% endimage %}
            </div>
        </div>
        <div class="clearfix m-xs-tb-1 m-md-tb-3">
            <h2>
                Para una mejor experiencia
                usa audífonos
            </h2>
        </div>
        <div class="clearfix m-xs-tb-1 m-md-tb-3">
            <h2>
                <strong>CARGANDO<span class='txt-fx-wave'>...</span></strong>
            </h2>
        </div>
        <div class="progress">
            <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="; height:2px ">
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{parent()}}
    <script type="text/javascript">
        $('.progress-bar.progress-bar-warning').animate({
            width: '100%'
        }, 10000, function () {
            window.location = "{{path('homepage')}}";
        }
        );
    </script>
{% endblock %}