{% extends 'SonicBundle::base.html.twig' %}
{% block body %}
    <div class='container'>
        <div class="row">
            <div class="col-xs-24 text-center">
                <div class="m-md-t-1">
                    <h1>
                        <span class="first-txt-row txt-fx-fall-ltr">Es momento de cantar con</span><br>
                        <strong><span class="txt-fx-fall-ltr">TODO EL SENTIMIENTO</span></strong>
                    </h1>
                    <h3 class="txt-fx-fall-ltr">Saca la diversión que llevas dentro con Chevrolet Sonic<sup>®</sup></h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="slider-wrap text-center slider-features">
                <div class="slider-content" data-auto="true" data-controls="false" data-pager="false" data-mode="{{ is_mobile() ? 'horizontal' : 'fade'}}" data-speed="480" data-touch-enabled="false">
                    <!-- DISEÑO -->
                    <div class="slide-wrap">
                        <div class="circle-wrap">
                            <div class="circle-content">
                                {% image '@SonicBundle/Resources/public/images/img-circle2.png' %}
                                <img src="{{ asset_url }}" alt="" class="responsive-image" />
                                {% endimage %}
                            </div>
                        </div>
                        <div class="info-wrap">
                            <h3>Diseñado para acompañarte en cualquier aventura,</h3><h3 class="features-little-text">con equipamiento de primer nivel.</h3>
                        </div>
                    </div>
                    <!-- SMARTPHONE INTEGRATION -->
                    <div class="slide-wrap">
                        <div class="circle-wrap">
                            <div class="circle-content">
                                {% image '@SonicBundle/Resources/public/images/img-circle3.png' %}
                                <img src="{{ asset_url }}" alt="" class="responsive-image" />
                                {% endimage %}
                            </div>
                        </div>
                        <div class="info-wrap">
                            <h3>Tecnología Smartphone Integration con Apple CarPlay™ y Android Auto™,</h3><h3 class="features-little-text">que proyecta tus Apps en la pantalla de 7 pulgadas.</h3>
                        </div>
                    </div>
                    <!-- ONSTAR -->
                    <div class="slide-wrap">
                        <div class="circle-wrap">
                            <div class="circle-content">
                                {% image '@SonicBundle/Resources/public/images/img-circle.png' %}
                                <img src="{{ asset_url }}" alt="" class="responsive-image" />
                                {% endimage %}
                            </div>
                        </div>
                        <div class="info-wrap">
                            <h3>OnStar® es capaz de enviarte al instante ayuda mecánica,</h3><h3 class="features-little-text">médica o darte indicaciones de navegación a cualquier destino.</h3>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-xs-offset-14 col-sm-24 col-sm-offset-0 pull-top">
                    <a href="{{path('game')}}" class="btn btn-circle btn-circle-md ico-next" >
                    </a>
                    <p class="m-md-t-1"><a href="{{path('game')}}">Continuar</a></p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}