{% extends 'SonicBundle::base.html.twig' %}
{% set referer = app.request.headers.get('referer')|default('/') %}
{% block body %}
    <div class='row'>
        <div class='container'>
            <div class="row">
                <div class="col-xs-24 text-center">
                    <h1><strong><span class='txt-fx-fall-ltr'>Mejores Puntajes</span></strong></h1>
                </div>
            </div>
            <div class="row m-md-t-2">
                <div class="col-xs-20 col-xs-offset-2 col-sm-11 col-sm-offset-6 {{ is_mobile() ? 'enable-scroll' }}">
                    {% for score in ratings %}
                        <div class="row border-b rank-item">
                            <div class="col-xs-5">
                                <div class='bordered-wrap'>
                                    <div class="image-wrap circle-image-wrap ">
                                        <img src="{{score.0.usuario.image}}" alt="" class="responsive-image" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 m-md-t-1 text-left">
                                <h2><strong>{{score.0.usuario.name}}</strong></h2>
                                <h2 class="text-3">{{score.max_score|number_format}}</h2>
                            </div>
                            <div class="col-xs-7 m-md-t-3">
                                <h2><strong>{{loop.index}}º Lugar</strong></h2>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class='btn-wrap btn-fixed'>
        <a class="a-submit btn btn-circle btn-circle-sm ico-back" href="{{ referer }}"></a>
    </div>
{% endblock %}
