{% extends 'SonicBundle::base.html.twig' %}
{% set referer = app.request.headers.get('referer')|default('/') %}
{% block body %}
    <div class="row">
        <div class="container terms-conditions">
            <div class='row'>
                <div class='col-xs-20 col-xs-offset-2' style="overflow: scroll;height: 75vh !important;">
                <h1 class="text-center">AVISO DE PRIVACIDAD INTEGRAL PARA
            CLIENTES Y CLIENTES POTENCIALES DE GMM</h1>
            <p class="text-center">(Vigente a partir del 1 de junio de 2013)</p>
            <br>

            <h2>I.- IDENTIFICACION DEL RESPONSABLE</h2>
            <p>En General Motors de México S. de R.L. de C.V. (GMM), con domicilio en Ejército Nacional No. 843, Col. Granada, Del. Miguel Hidalgo, C.P. 11520, México, D.F, es responsable de los datos personales de sus clientes y clientes potenciales, por lo que hace un esfuerzo permanente para salvaguardarlos.</p>

            <h2>II.- DATOS PERSONALES SOLICITADOS Y FINALIDADES</h2>
            <p>Más que una política, en GMM tenemos la filosofía de mantener una relación estrecha y activa con nuestros clientes y clientes potenciales. Al proporcionarnos sus datos personales consiente su tratamiento tanto dentro como fuera de los Estados Unidos Mexicanos y entiende que podrán ser tratados por GMM y/o sus proveedores de servicios con quienes tiene una relación jurídica y fungen como encargados en términos de los establecido por la Ley Federal de Protección de Datos Personales en Posesión de los Particulares (La Ley), con las siguientes finalidades:</p>

            <p>Para el caso de clientes, los datos personales que podrán ser solicitados son los siguientes:</p>

            <ol>
                <li>Nombre.</li>
                <li>Domicilio.</li>
                <li>Correo electrónico.</li>
                <li>Teléfono (celular y/o fijo).</li>
                <li>RFC.</li>
                <li>CURP.</li>
                <li>Género.</li>
                <li>Estado civil.</li>
                <li>Usuario de redes sociales (como Facebook, twitter, instagram, foresquare y google+).</li>
                <li>Número de identificación de su vehículo (VIN por sus siglas en inglés).</li>
            </ol>
                <strong><p>Dichos datos personales serán tratados para las siguientes finalidades:</p></strong>
            <ol>
                <li>Proveerle del bien y/o servicio que solicite (p.ej: cuando compre un vehículo o solicite el servicio del programa “Asistencia en el camino GM” a través del Centro de Atención a Clientes de GMM).</li>
                <li>Honrar la garantía de su vehículo o de las partes, refacciones y accesorios.</li>
                <li>Informarle acerca de llamados a revisión de su vehículo.</li>
                <li>Mantener actualizados nuestros registros a fin de poder responderle a sus consultas.</li>
                <li>Realizar actividades de mercadeo y promoción en general (p.ej: informarle sobre promociones especiales y/o invitarlo a lanzamientos y eventos de nuestros vehículos).</li>
                <li>Realizar actividades publicitarias como ofrecerle productos, servicios e información de GMM y/o de nuestros socios de negocios.</li>
                <li>Prospección comercial y análisis estadísticos y de mercado.</li>
            </ol>
            <p>Es importante mencionar que, las finalidades 1, 2, 3 y 4 dan origen y son necesarias para mantener nuestra relación jurídica. En sentido opuesto, las finalidades 5, 6 y 7 no dan origen ni son necesarias para mantener nuestra relación jurídica por lo que en cuanto a ésta últimas, ponemos a su disposición un mecanismo habilitado en el Centro de Atención a Clientes de GMM en su teléfono: 01-800-508-0000 o por medio de su correo electrónico: asistencia.gmmexico@gm.com. para manifestar su negativa al tratamiento de sus datos personales con dichas finalidades.</p>

            <p><strong>Para el caso de clientes potenciales los datos personales que podrán ser solicitados son los siguientes:</strong></p>

            <ol>
                <li>Nombre.</li>
                <li>Teléfono.</li>
                <li>Domicilio.</li>
                <li>Correo electrónico.</li>
                <li>Usuario de redes sociales (como Facebook, twitter, instagram, foresquare y google+.)</li>
            </ol>

            <p>Dichos datos personales serán tratados para las siguientes finalidades:</p>
            <ol>
                <li>Realizar actividades de mercadeo y promoción en general (p.ej: informarle sobre promociones especiales y/o invitarlo a lanzamientos y eventos de nuestros vehículos).</li>
                <li>Realizar actividades publicitarias como ofrecerle productos, servicios e información de GMM y/o de nuestros socios de negocios.</li>
                <li>Prospección comercial y análisis estadísticos y de mercado.</li>
            </ol>

            <p>Para este caso, las finalidades por las que GMM recaba sus datos personales no dan origen ni son necesarias para mantener una relación jurídica, ponemos a su disposición un mecanismo habilitado en el Centro de Atención a Clientes de GMM en su teléfono: 01-800-508-0000 o por medio de su correo electrónico: asistencia.gmmexico@gm.com para manifestar su negativa al tratamiento de sus datos personales con dichas finalidades.</p>

            <h2>III.- OPCIONES PARA LIMITAR EL USO O DIVULGACION DE SUS DATOS PERSONALES</h2>
            <p>Usted puede limitar el uso o divulgación de sus datos personales para dejar de recibir mensajes publicitarios o promocionales, registrando su número telefónico en el “Registro Público Para Evitar Publicidad” de la Procuraduría Federal del Consumidor. Para mayor información al respecto, favor de visitar la página en internet <a href="http://www.profeco.gob.mx/servicios/quejas_denun.asp">www.profeco.gob.mx</a>.</p>

            <h2>IV.- TRANSFERENCIAS DE DATOS PERSONALES</h2>
            <p>Le informamos que a fin de dar cumplimiento a las finalidades establecidas en el presente aviso de privacidad, sus datos personales pueden ser transferidos y tratados dentro y fuera de los Estados Unidos Mexicanos por personas distintas a GMM. En este sentido y con fundamento en lo dispuesto en los artículos 36 y 37 de La Ley y 68 de su Reglamento, sus datos personales podrían ser transferidos sin necesidad de su consentimiento a: (i) sociedades subsidiarias, afiliadas o relacionadas a GMM, con la finalidad de almacenamiento en sus servidores (hosting), (ii) OnStar de México, S. de R.L. de C.V., a efecto de que pueda llevar a cabo la prestación de servicios de telecomunicaciones de valor agregado en los vehículos de las marcas de GMM, y (iii) sus distribuidores GM autorizados, con la finalidad de que hagan efectiva la garantía de su vehículo, den los servicios de mantenimiento a su vehículo y lleven a cabo las reparaciones necesarias derivadas de un llamado a revisión.</p>

            <p>Para conocer a fondo el tratamiento que OnStar de México, S. de R.L. de C.V. y cada distribuidor GM autorizado da a los datos personales de sus clientes y clientes potenciales, lo invitamos a conocer el aviso de privacidad de OnStar de México, S. de R.L. de C.V. y del distribuidor GM autorizado de su preferencia.</p>

            <p>Sus datos personales no serán transferidos a terceros distintos a los antes señalados sin su consentimiento.</p>

            <h2>V.- SOLICITUD DE ACCESO, RECTIFICACIÓN, CANCELACIÓN U OPOSICIÓN DE DATOS PERSONALES (SOLICITUD ARCO)</h2>
            <p>Todos sus datos personales son tratados de acuerdo a la legislación aplicable y vigente en el país, por ello le informamos que usted tiene en todo momento el derecho de acceder, rectificar, cancelar u oponerse al tratamiento que le damos a sus datos personales; derechos que podrá hacer valer a través de los procedimientos y formularios que hemos desarrollado e implementado para dichos efectos y los cuales podrá conocer través del Departamento: “Centro de Atención a Clientes de GMM”, en su teléfono: 01-800-508-0000 o por medio de su correo electrónico: <a href="mailto:asistencia.gmmexico@gm.com">asistencia.gmmexico@gm.com</a>.</p>

            <p>Para el caso de las solicitudes de acceso y siempre que éstas resulten procedentes conforme a la legislación aplicable y vigente, GMM le enviará una copia del registro que tiene de sus datos personales (i) mediante formato PDF al correo electrónico que usted señale en su solicitud de acceso, o (ii) de manera impresa a su domicilio particular, a elección de GMM.</p>

            <h2>VI.- REVOCACIÓN DEL CONSENTIMIENTO</h2>
            <p>Asimismo, hacemos de su conocimiento que usted tiene el derecho de revocar el consentimiento previamente otorgado para el tratamiento de sus datos personales, derecho que podrá hacer valer a través de los procedimientos y formularios que hemos desarrollado e implementado para dichos efectos y los cuales podrá conocer través del “Centro de Atención a Clientes de GMM”, en su teléfono: 01-800-508-0000 o por medio de su correo electrónico: <a href="mailto:asistencia.gmmexico@gm.com">asistencia.gmmexico@gm.com</a></p>

            <h2>VII.- MODIFICACIONES AL AVISO DE PRIVACIDAD</h2>
            <p>Este aviso de privacidad podrá ser modificado de tiempo en tiempo por GMM. Dichas modificaciones serán oportunamente informadas a través de cualquiera de los siguientes medios: (i) nuestra página en internet <a href="http://www.gm.com.mx/privacidad/">www.gm.com.mx</a> (ii) publicación en un periódico de amplia circulación, o (iii) mediante el correo electrónico a la dirección que para tales efectos mantengamos registrada de usted.</p>

                </div>
            </div>
        </div>
    </div>
    <div class='btn-wrap btn-fixed'>
        <a class="a-submit btn btn-circle btn-circle-sm ico-back" href="{{ referer }}"></a>
    </div>
{% endblock %}
